<div class="container mx-auto px-4">
  <% if not logged_in? %>
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold text-slate-500">Under construction</h4>
        <h5 class="text-lg mt-0 mb-2 text-slate-500">
          If you're here it's probably by accident.
        </h5>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-slate-500 text-sm font-semibold mb-2">Useful Links</span>
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  href="https://github.com/geoffjay/daily"
                >
                  Github
                </a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-slate-500 text-sm font-semibold mb-2">Other Resources</span>
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  href="https://github.com/geoffjay/daily/blob/main/LICENSE"
                >
                  MIT License
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="py-2 border-slate-500">
  <% end %>
  <div class="flex flex-wrap md:justify-between justify-center">
    <div class="w-full md:w-4/12 px-4 mx-auto text-center">
      <div class="text-xs text-slate-500 font-semibold py-1">
        Copyright ©
        <span id="get-current-year">2022</span>
        <a href="https://github.com/geoffjay/daily" class="text-slate-500 hover:text-gray-800" target="_blank">@daily by
        <a href="https://github.com/geoffjay" class="text-slate-500 hover:text-slate-800">Geoff Johnson</a>.
      </div>
    </div>
  </div>
</div>
